<article id="welcome_page">
    <!-- <%- pp res %> -->
    <!-- <%- pp res["data"] %> -->
    <!-- <%- pp res["data"]["username"] %> -->
    <h1>Yo <%= res["data"]["username"] %>!! Welcome to ze junglez</h1>
</article>