<%- if res["status"] == "error" -%>
    <div class="ui message">
        <div class="header">
            There be dragons
        </div>
        <p> <%= res["message"] -%> </p>"
    </div>
<%- end -%>


