<div class="ui message">
    <%- if res["status"] == "error" -%>
        <div class="header">
            There be some dragons
        </div>
        <p> <%- res["message"] -%> </p>"
    <%- end -%>
</div>